{% extends "layout.html" %}
{% block content %}
<body>

23/08/2024: The site is progressing well! Beat raiders unite!!!! (•_•) ( •_•)>⌐■-■ (⌐■_■) - Neotride
<p>

<div id="songs-container">
    <h3>Recent songs</h3>
    {% for song in recent_songs %}
            {% set song_id = song[7] %}
            {% set song_name = song[1] %}
            {% set song_artist = song[0] %}
            {% set song_genre = song[2] %}
            {% set song_timestamp = song[6] %}
            {% set song_user_id = song[8] %}
            {% set song_duration = song[3] %}
            {% set song_comments = song[10] %}
            {% include 'song_card.html' %}
    {% endfor %}

    {% if no_more_songs %}
    <p>No more songs to load.</p> <!-- Display message when no more songs are available -->
    {% endif %}

    {% if offset > 0 and total_songs > 0 %}
    <form id="back-form" method="post" action="/load_more_songs">
        <input type="hidden" name="offset" value="{% if offset - limit < 0 %}0{% else %}{{ offset - limit }}{% endif %}">
        <input type="hidden" name="direction" value="back">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="hidden" name="next_url" value="index.html">
        <button type="submit">Back</button>
    </form>
    {% endif %}
    
    {% if offset + limit < total_songs and total_songs > 0 %}
    <form id="load-more-form" method="post" action="/load_more_songs">
        <input type="hidden" name="offset" value="{{ offset }}">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="hidden" name="next_url" value="index.html">
        <button type="submit">Load More Songs</button>
    </form>
    {% endif %}
</div>

<script>
    // Render the "time ago" text only once, no real time updates until the page is reloaded. This is to make the site even lighter for the user
    // Select all elements with the id 'timeago'
    const elements = document.querySelectorAll('#timeago');

    elements.forEach(el => {
        // Get the datetime from the element
        const datetime = el.getAttribute('datetime');
        const timeAgoText = timeago.format(datetime);
        el.textContent = timeAgoText;
    });
</script>
</body>

{% endblock %}