{% extends "layout.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song_artist}} - {{ song_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/audio_player.css') }}">
    <script src="{{ url_for('static', filename='js/audio_player.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
</head>
<h2>Listening</h2>
<body>

    {% set song_id = song %}
    {% set song_name = song_name %}
    {% set song_artist = song_artist %}
    {% set song_genre = song_genre %}
    {% set song_timestamp = song_timestamp %}
    {% set song_user_id = song_user_id %}
    {% set song_comments = total_comments %}
    
    {% include 'song_card.html' %}

    <h2>Description:</h2>

    {{ song_description }}

    <h2>Comments:</h2>

    {% for comment in song_comment_contents %}
        {% set comment_user_id = comment[0] %}
        {% set comment_text = comment[1] %}
        {% set comment_timestamp = comment[2] %}
        {% set comment_artist_name = comment[3] %}
        {% set random_class = 'comment-bubble-' ~ (loop.index % 5 + 1) %} <!-- Remnant of randomly colored comment boxes but it works so -->
        {% set comment_id = comment[4] %}
        {% include 'comment.html' %}
    {% endfor %}

    {% if total_comments == 0 %}
    No comments.
    {% endif %}

    <!-- Back Button -->
    {% if offset > 0 and total_comments > 0 %}
    <form id="back-form" method="post" action="/load_more_comments">
        <input type="hidden" name="offset" value="{% if offset - limit < 0 %}0{% else %}{{ offset - limit }}{% endif %}">
        <input type="hidden" name="direction" value="back">
        <input type="hidden" name="user_id" value="{{ song }}">
        <input type="hidden" name="next_url" value="{{ song }}">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <button type="submit">Back</button>
    </form>
    {% endif %}

    <!-- Load More Button -->
    {% if offset + limit < total_comments and total_comments > 0 %}
    <form id="load-more-form" method="post" action="/load_more_comments">
        <input type="hidden" name="offset" value="{{ offset }}">
        <input type="hidden" name="user_id" value="{{ song }}">
        <input type="hidden" name="next_url" value="{{ song }}">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <button type="submit">Load More Comments</button>
    </form>
    {% endif %}

    {% if session.user_name %}
    <div class="postComment">
        <form action="/postcomment" method="POST">
            <input type="hidden" name="song_id" value="{{ song }}">
            <p>Comment:<br>
            <input type="text" name="content" minlength="1" maxlength="200" required></p>
            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <button type="submit" class="submit">Send</button>
        </form>
    </div>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Select all 'time' elements
            const elements = document.querySelectorAll('time');

            elements.forEach(el => {
                // Get the datetime from the element
                const datetime = el.getAttribute('datetime');
                const timeAgoText = timeago.format(datetime);
                el.textContent = timeAgoText;
            });
        });
    </script>
</body>

{% endblock %}