<div class="song">
    <p><a href="/listen/{{ song_id }}">{{ song_name }}</a></p>
    <p>By: {{ song_artist }}</p>
    <p>Genre: {{ song_genre }}</p>
    <p id="duration-display-{{ song_id }}">Duration: <span class="duration">{{ song_duration }}</span></p>
    <p>Uploaded: <time id="timeago" datetime="{{ song_timestamp }}">{{ song_timestamp }}</time></p>

    <audio id="audio-{{ song_id }}" data-index="{{ song_id }}" ontimeupdate="updateSeekBar(this)">
        <source src="{{ url_for('send_upload', filename=song_id) }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <a href="javascript:;" onclick="playMusic('{{ song_id }}')">Play/Pause</a>
    {% if session.user_name %}
    <a href="javascript:;" onclick="addToPlaylist('{{ song_id }}', '{{ request.path }}')">Add to playlist</a>
    {% endif %}
    {% if session.user_id == song_user_id %}
    <a href="/edit/{{ song_id }}">Edit</a>
    {% endif %}
    <br>
    <div class="seek-bar" id="seek-bar-{{ song_id }}" onclick="handleSeekClick(event, '{{ song_id }}')">
        [···················]
    </div>
    <p id="time-display-{{ song_id }}">[ 0:00 - 0:00 ]</p>
    {% if session.user_name %}

    <!-- Modal for adding to playlist -->
    <div id="addToPlaylistModal-{{ song_id }}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddToPlaylistModal('{{ song_id }}')">&times;</span>
            <h2>Select Playlist</h2>
            <form id="addToPlaylistForm-{{ song_id }}" method="post" action="/add_to_playlist">
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="playlist_id" id="playlist_id-{{ song_id }}">
                <input type="hidden" name="song_id" value="{{ song_id }}">
                <ul id="playlistList-{{ song_id }}">
                    {% for playlist in user_playlists %}
                    <li>
                        <button type="button" onclick="submitAddToPlaylistForm('{{ song_id }}', '{{ playlist[0] }}')">
                            {{ playlist[3] }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
    {% endif %}
</div>