{% extends "layout.html" %}
{% block content %}

<head>
    <script>
        function toggleCustomGenre(selectElement) {
            var customGenreDiv = document.getElementById('customGenreDiv');
            if (selectElement.value === 'Custom') {
                customGenreDiv.style.display = 'block';
            } else {
                customGenreDiv.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <p>Song name:<br>
            <input type="text" name="song_name" required></p>
        <p>Genre:<br>
            <select name="genre" onchange="toggleCustomGenre(this)" required>
                <option value="" disabled selected>Select a genre</option>
                <option value="Pop">Pop</option>
                <option value="Rock">Rock</option>
                <option value="Hip-Hop">Hip-Hop</option>
                <option value="Jazz">Jazz</option>
                <option value="Classical">Classical</option>
                <option value="Electronic">Electronic</option>
                <option value="Country">Country</option>
                <option value="Custom">Custom Genre</option>
            </select>
        </p>
        <div id="customGenreDiv" style="display: none;">
            <p>Custom Genre:<br>
                <input type="text" name="custom_genre"></p>
        </div>
        <div>
            <label for="song_uploads">Choose a song to upload (MP3)</label>
            <input type="file" name="song" accept=".MP3" required />
        </div>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

    <a href="/">Back to front page</a>
</body>
</html>

{% endblock %}